@model IPagedList<CurrencyViewModel>  

<div id="tableContainer">
    <table class="table table-borderless" style="overflow-y: hidden;">
        <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col" style="text-align: left">
                Coin
            </th>
            <th scope="col">
                Symbol
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                24h
            </th>
            <th scope="col">
                24h Volume
            </th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Count(); ++i)
        {
            <tr>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">@(i + 1)</p>
                    </div>
                </td>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">@Model[i].AssetName</p>
                    </div>
                </td>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">@Model[i].Symbol</p>
                    </div>
                </td>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@Model[i].Price</p>
                    </div>
                </td>
                
                @if (Model[i].PercentChange24h < 0)
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-danger">@Model[i].PercentChange24h%</p>
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-success">@Model[i].PercentChange24h%</p>
                        </div>
                    </td>
                }
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@Model[i].Volume24hUsd</p>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>