@model IPagedList<CurrencyViewModel>  

<div id="tableContainer">
    <table class="table table-borderless" style="overflow-y: hidden;">
        <thead>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col" style="text-align: left">
                Coin
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                1h
            </th>
            <th scope="col">
                24h
            </th>
            <th scope="col">
                7d
            </th>
            <th scope="col">
                24h Volume
            </th>
            <th scope="col">
                Mkt Cap
            </th>
        </tr>
        </thead>
        <tbody>
        @for(int i = 0; i < @Model.Count(); ++i)
        {
            <tr>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">@(i + 1)</p>
                    </div>
                </td>
                <td>
                    <div id="tableContentCoinContainer">
                        <img class="coinIcon" src="@Model[i].GetImageSrc()" />
                        @Html.ActionLink(@Model[i].Name, "CoinPage", "Coin", null, new { @class = "navButton" })
                        <p class="symbolText">@Model[i].Symbol</p>
                    </div>
                </td>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@Model[i].Price</p>
                    </div>
                </td>
                @if (@Model[i].PercentChange1h < 0)
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-danger">@Model[i].PercentChange1h%</p>
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-success">@Model[i].PercentChange1h%</p>
                        </div>
                    </td>
                }
                @if (@Model[i].PercentChange24h < 0)
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-danger">@Model[i].PercentChange24h%</p>
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-success">@Model[i].PercentChange24h%</p>
                        </div>
                    </td>
                }
                @if (@Model[i].PercentChange7d < 0)
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-danger">@Model[i].PercentChange7d%</p>
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-success">@Model[i].PercentChange7d%</p>
                        </div>
                    </td>
                }
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@Model[i].Volume24hUsd</p>
                    </div>
                </td>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@Model[i].MarketCapUsd</p>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>