@model IPagedList<CurrencyViewModel>  

<div id="tableContainer">
    <table class="table table-borderless" style="overflow-y: hidden;">
        <thead>
        <tr>
            <th scope="col" style="text-align: left">
                Coin
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                24h
            </th>
            <th scope="col">
                24h Volume
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(var currency in @Model)
        {
            <tr>
                <td>
                    <div id="tableContentCoinContainer">
                        <img class="coinIcon" src="@currency.Img"/>
                        @Html.ActionLink(currency.AssetName, "CoinInfo", "Coin", new{id=@currency.Symbol}, new { @class = "navButton" })
                        <p class="symbolText">@currency.Symbol</p>
                    </div>
                </td>
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@currency.Price.ToString("N2")</p>
                       
                    </div>
                </td>
                @if (currency.PercentChange24h < 0)
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-danger">@currency.PercentChange24h%</p>
                        </div>
                    </td>
                }
                else
                {
                    <td>
                        <div class="tableContentContainer">
                            <p class="tableText text-success">@currency.PercentChange24h%</p>
                        </div>
                    </td>
                }
                <td>
                    <div class="tableContentContainer">
                        <p class="tableText">$@currency.Volume24hUsd.ToString("N2")</p>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>